body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddd;
    padding: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

.recommendations-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.recommendation-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
}

.recommendation-card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}
